.webixappstart {
	opacity: 0;
}
.webixapp {
	transition: opacity 500ms;
	opacity: 1;
}

.app_header .webix_header {
	text-align: center;
}
.app_layout .webix_layout_clean {
	background: #ebedf0;
}
.app_menu .webix_icon {
	font-size: 20px;
	vertical-align: middle;
}

.users-list--flex {
	height: 4rem;
}

.user-info--col {
	display: grid;
	margin-top: 1rem;
	grid-template-rows: repeat(4, 2rem);
	align-items: center;
}
.contact-button .webix_button {
	border-radius: 0.4rem;
}

.contact-info--name {
	display: grid;
	align-items: center;
	font-size: 2rem;
}

.row--hover {
	background-color: rgba(152, 247, 222, 0.15);
}

.user-info-grid {
	display: grid;
	grid-template-rows: 4rem 3fr 0.5fr;
}

.user-info-body-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.user-info--status {
	margin-left: 2rem;
	text-align: end;
}
